@font-face {
    font-family: 'Arial Black';
    src: url('fonts/arial-black.eot');
    src: url('fonts/arial-black.eot?#iefix') format('embedded-opentype'),
         url('fonts/arial-black.woff2') format('woff2'),
         url('fonts/arial-black.woff') format('woff'),
         url('fonts/arial-black.ttf')  format('truetype'),
         url('fonts/arial-black.svg#Arial Black') format('svg');
}