html::-webkit-scrollbar {
  display: none;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.section {
  display: block;
}

.section.header {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.section.header .logo {
  display: block;
  max-height: 85px;
  width: auto;
}

.section.header .navbar {
  margin: 50px 0px;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(5, auto);
  column-gap: 35px;
  height: auto;
  width: auto;
}

.section.header .navbar a {
  width: min-content;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  color: black;
  text-decoration: none;
}

.section.header .navbar a:hover {
  color: #0ba39c;
}

.section.header .menusvg {
  width: 30px;
  height: 30px;
  display: none;
}

.section.header .menu.visible .menusvg {
  display: block;
  position: absolute;
  top: 10px;
}

.section.header .menusvg .a {
  transform-origin: center;
  opacity: 1;
  transition: all .25s;
}


.section.header .menu.visible .menusvg .a {
  transform: rotateZ(0deg);
  transform-origin: center;
}
.section.header .menu.visible:hover .menusvg .a {
  opacity: 0;
  transform: translateY(-13.75px);
}

.section.header .menu.visible:hover .menusvg .a:nth-child(2) {
  opacity: 0;
  transform: translateY(13.75px);
}

.section.header .menu.visible:hover .menusvg .a:nth-child(3) {
  opacity: 1;
  transform: rotateZ(45deg);
}

.section.header .menu.visible:hover .menusvg .a:nth-child(4) {
  opacity: 1;
  transform: rotateZ(-45deg);
}


.section.header .menu.visible {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 25px 0px;
  width: 50px;
  height: 50px;
  border-radius: 2px;
  background-color: #0ba39c;
  z-index: 2;
  box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, .25);
  transition: background-color .5s;
  cursor: pointer;
}

.section.header .menu.visible:hover {
  background-color: #1fc3bc;
}

.section.header .menu.visible:hover .navbar-container {
  height: fit-content;
  padding-top: 10px;
}
.section.header .menu.visible:hover .navbar {
  transform: translateY(0px);
}

.section.header .menu.visible .navbar-container {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  min-width: fit-content;
  height: 0px;
  margin: 0;
  transform: translateY(50px);
  overflow-y: hidden;
}

.section.header .menu.visible .navbar {
  box-sizing: border-box;
  grid-template-rows: repeat(5, auto);
  grid-template-columns: 1fr;
  border: .1px solid #fff;
  background-color: rgba(11, 163, 156, .5);
  backdrop-filter: blur(5px);
  width: auto;
  height: fit-content;
  margin: 0;
  transform: translateY(-100%);
  transition: all .5s;
}

.section.header .menu.visible .navbar a:nth-child(2) {
  background-color: #252525;
  border: 0.1px solid #fff;
}

.section.header .menu.visible .navbar a {
  box-sizing: border-box;
  color: #fff;
  font-weight: 400;
  width: 200px;
  padding: 15px 10px;
  border: 0px 0px 0.1px 0px solid #fff;
  background-color: unset;
  transition: all .5s;
}
.section.header .menu.visible .navbar a:hover {
  background-color: #252525;
  border: 0.1px solid #fff;
  color: #1fc3bc;
}

.subheader {
  display: inline;
  line-height: 1;
  text-align: center;
  font-family: 'Poller One', Arial, Helvetica, sans-serif;
  font-size: 35px;
  font-weight: normal;
  background-color: #252525;
  color: #fff;
  padding: 15px 28px 12px;
  margin: 0;
}

.section.splash {
  box-sizing: border-box;
  position: relative;
  width: 620px;
  margin: 24px 0 0;
  height: 300px;
  min-height: 50%;
  border: 2px solid #292929;
  background-image: url('https://freewebsitetemplates.com/preview/mustacheenthusiast/images/photographer.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}

.section.article {
  width: 560px;
  margin: 0 auto;
  padding: 30px 30px;
  text-align: center;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1;
}

.section.article h3 {
  margin: 0;
  padding: 0;
  line-height: 24px;
  color: #252525;
}

.section.article p {
  margin: 0 0 30px;
  line-height: 24px;
  font-size: 14px;
  color: #252525;
}

footer {
  display: flex;
  justify-content: space-between;
  background-color: #252525;
  width: 100%;
  padding: 36px 0 42px;
  margin-bottom: 50px;
}

footer span {
  display: block;
  margin-left: 10px;
  line-height: 44px;
  padding: 0;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

footer .social-media-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  align-items: center;
  width: fit-content;
  height: auto;
  margin-right: 10px;
}

.social-media {
  background-image: url('https://freewebsitetemplates.com/preview/mustacheenthusiast/images/icons.jpg');
  width: 44px;
  height: 44px;
  cursor: pointer;
}

.social-media:nth-child(1):hover {
  background-position: -44px 0;
}

.social-media:nth-child(2) {
  background-position: 0 -44px;
}

.social-media:nth-child(2):hover {
  background-position: -44px -44px;
}

.social-media:nth-child(3) {
  background-position: 0 -88px;
}

.social-media:nth-child(3):hover {
  background-position: -44px -88px;
}

.social-media:nth-child(4) {
  background-position: 0 -132px;
}

.social-media:nth-child(4):hover {
  background-position: -44px -132px;
}

@media (max-width: 772px) {
  .section.splash {
    width: 80%;
    padding: 20%;
    height: auto;
    background-position: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .subheader {
    font-size: 20px;
    width: fit-content;
  }

  .section.article {
    width: fit-content;
    max-width: 480px;
  }

  .section.gallery {
    width: 100%;
    overflow-x: scroll;
  }
}
@media (max-width: 480px) {
  .section.splash {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .section.splash .text-container h2 {
    margin: 50px 0 10px;
    padding: 8px 5px;
  }
  .section.splash .text-container p {
    width: 100%;
    padding: 8px 5px;
    font-size: 14px;
  }
  .section.splash .text-container .button {
    padding: 14px 14px 14px;
  }

  .section.gallery {
    flex-direction: column;
    overflow: hidden;
  }

  .section.gallery .tile {
    width: 100%;
  }

  .section.gallery .tile .image {
    width: 100%;
    height: 100%;
    padding-top: 80%;
  }

  .section.gallery .tile span {
    padding-top: 20px;
  }

  footer.home {
    flex-direction: column;
    align-items: center;
    padding: 10px 0 25px;
  }

  footer span {
    margin: 0;
  }

  footer .social-media-container {
    margin: 0;
  }
}
