html::-webkit-scrollbar {
  display: none;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.section {
  display: block;
}

.section.header {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.section.header .logo {
  display: block;
  max-height: 85px;
  width: auto;
}

.section.header .navbar {
  margin: 50px 0px;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(5, auto);
  column-gap: 35px;
  height: auto;
  width: auto;
}

.section.header .navbar a {
  width: min-content;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  color: black;
  text-decoration: none;
}

.section.header .navbar a:hover {
  color: #0ba39c;
}

.section.header .menusvg {
  width: 30px;
  height: 30px;
  display: none;
}

.section.header .menu.visible .menusvg {
  display: block;
  position: absolute;
  top: 10px;
}

.section.header .menusvg .a {
  transform-origin: center;
  opacity: 1;
  transition: all 0.25s;
}

.section.header .menu.visible .menusvg .a {
  transform: rotateZ(0deg);
  transform-origin: center;
}
.section.header .menu.visible:hover .menusvg .a {
  opacity: 0;
  transform: translateY(-13.75px);
}

.section.header .menu.visible:hover .menusvg .a:nth-child(2) {
  opacity: 0;
  transform: translateY(13.75px);
}

.section.header .menu.visible:hover .menusvg .a:nth-child(3) {
  opacity: 1;
  transform: rotateZ(45deg);
}

.section.header .menu.visible:hover .menusvg .a:nth-child(4) {
  opacity: 1;
  transform: rotateZ(-45deg);
}

.section.header .menu.visible {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 25px 0px;
  width: 50px;
  height: 50px;
  border-radius: 2px;
  background-color: #0ba39c;
  z-index: 2;
  box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.25);
  transition: background-color 0.5s;
  cursor: pointer;
}

.section.header .menu.visible:hover {
  background-color: #1fc3bc;
}

.section.header .menu.visible:hover .navbar-container {
  height: fit-content;
  padding-top: 10px;
}
.section.header .menu.visible:hover .navbar {
  transform: translateY(0px);
}

.section.header .menu.visible .navbar-container {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  min-width: fit-content;
  height: 0px;
  margin: 0;
  transform: translateY(50px);
  overflow-y: hidden;
}

.section.header .menu.visible .navbar {
  box-sizing: border-box;
  grid-template-rows: repeat(5, auto);
  grid-template-columns: 1fr;
  border: 0.1px solid #fff;
  background-color: rgba(11, 163, 156, 0.5);
  backdrop-filter: blur(5px);
  width: auto;
  height: fit-content;
  margin: 0;
  transform: translateY(-100%);
  transition: all 0.5s;
}

.section.header .menu.visible .navbar a:nth-child(4) {
  background-color: #252525;
  border: 0.1px solid #fff;
}

.section.header .menu.visible .navbar a {
  box-sizing: border-box;
  color: #fff;
  font-weight: 400;
  width: 200px;
  padding: 15px 10px;
  border: 0px 0px 0.1px 0px solid #fff;
  background-color: unset;
  transition: all 0.5s;
}
.section.header .menu.visible .navbar a:hover {
  background-color: #252525;
  border: 0.1px solid #fff;
  color: #1fc3bc;
}

.subheader {
  display: inline;
  line-height: 1;
  text-align: center;
  font-family: 'Poller One', Arial, Helvetica, sans-serif;
  font-size: 35px;
  font-weight: normal;
  background-color: #252525;
  color: #fff;
  padding: 15px 28px 12px;
  margin: 0;
}

.section.gallery {
  display: grid;
  max-width: 1000px;
  height: fit-content;
  margin: 30px 30px;
  grid-template-columns: 380px auto;
  grid-template-rows: repeat(3, 1fr);
  row-gap: 20px;
}

.tile-container {
  box-sizing: border-box;
  grid-column: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 2px solid #1a1a1a;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: normal;
  height: 300px;
  min-width: 250px;
}

.tile-container h3 {
  margin: 0;
  padding: 0;
  font-family: 'Arial Black', Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-weight: normal;
}

.tile-container p {
  margin: 0;
  padding: 30px 30px 18px;
  line-height: 24px;
  color: #252525;
}

.tile-container a {
  color: #252525;
}

.tile-container .read-this {
  box-sizing: border-box;
  width: fit-content;
  padding: 8px 28px;
  margin: 0;
  font-size: 18px;
  background-color: #000;  
  border: 2px solid #1a1a1a00;
  color: #fff;
  font-family: 'Arial Black', Arial, Helvetica, sans-serif;
  font-weight: normal;
  opacity: 1;
  user-select: none;
  cursor: pointer;
}

.tile-container .read-this:hover {
  border: 2px solid #1a1a1a;
  background-color: #fff;
  color: #000;
}

.image-container {
  box-sizing: border-box;
  grid-column: 1;
  opacity: .8;
  transition: all .25s;
  height: 300px;
  background-size: cover;
  background-position: center;
  border: 2px solid #1a1a1a;
  border-right: 0px solid #1a1a1a;
  cursor: pointer;
}

.image-container:hover {
  opacity: 1;
}

.image-container:nth-child(1) {
  background-image: url('https://freewebsitetemplates.com/preview/mustacheenthusiast/images/cutting-mustache.jpg');
}
.image-container:nth-child(3) {
  background-image: url('https://freewebsitetemplates.com/preview/mustacheenthusiast/images/in-the-country.jpg');
}
.image-container:nth-child(5) {
  background-image: url('https://freewebsitetemplates.com/preview/mustacheenthusiast/images/mustache-brothers.jpg');
}

footer {
  display: flex;
  justify-content: space-between;
  background-color: #252525;
  width: 100%;
  padding: 36px 0 42px;
  margin-bottom: 50px;
}

footer span {
  display: block;
  margin-left: 10px;
  line-height: 44px;
  padding: 0;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

footer .social-media-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  align-items: center;
  width: fit-content;
  height: auto;
  margin-right: 10px;
}

.social-media {
  background-image: url('https://freewebsitetemplates.com/preview/mustacheenthusiast/images/icons.jpg');
  width: 44px;
  height: 44px;
  cursor: pointer;
}

.social-media:nth-child(1):hover {
  background-position: -44px 0;
}

.social-media:nth-child(2) {
  background-position: 0 -44px;
}

.social-media:nth-child(2):hover {
  background-position: -44px -44px;
}

.social-media:nth-child(3) {
  background-position: 0 -88px;
}

.social-media:nth-child(3):hover {
  background-position: -44px -88px;
}

.social-media:nth-child(4) {
  background-position: 0 -132px;
}

.social-media:nth-child(4):hover {
  background-position: -44px -132px;
}

@media (max-width: 772px) and (min-width: 631px){
  .tile-container {
    position: relative;
  }

  .tile-container .read-this {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, .25);
    backdrop-filter: blur(5px);
    opacity: 0;
    transition: background-color .25s;
    color: #1a1a1a;
    text-align: center;
    cursor: pointer;
    padding: 125px 0px 0px;
    width: 100%;
    border: none;
  } 
  .tile-container .read-this:hover {
    background-color: rgba(255, 255, 255, .25);
    border: none;
    opacity: 1;
    transition: opacity .25s;
  } 
}

@media (max-width: 630px) {
  .section.gallery {
    justify-content: center;
    row-gap: 0;
    width: 480px;
    grid-template-columns: 380px;
    grid-template-rows: repeat(6, auto);
  }

  .subheader {
    font-size: 20px;
    width: fit-content;
  }

  .section.gallery .image-container {
    border-bottom: 0;
    border-right: 2px solid #1a1a1a;
    grid-column: 1;
  }

  .section.gallery .tile-container {
    grid-column: 1;
    margin-bottom: 20px;
  }

  footer.home {
    flex-direction: column;
    align-items: center;
    padding: 10px 0 25px;
  }

  footer span {
    margin: 0;
  }

  footer .social-media-container {
    margin: 0;
  }
}
