html::-webkit-scrollbar {
  display: none;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.section {
  display: block;
}

.section.header {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.section.header .logo {
  display: block;
  max-height: 85px;
  width: auto;
}

.section.header .navbar {
  margin: 50px 0px;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(5, auto);
  column-gap: 35px;
  height: auto;
  width: auto;
}

.section.header .navbar a {
  width: min-content;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  color: black;
  text-decoration: none;
}

.section.header .navbar a:hover {
  color: #0ba39c;
}

.section.header .menusvg {
  width: 30px;
  height: 30px;
  display: none;
}

.section.header .menu.visible .menusvg {
  display: block;
  position: absolute;
  top: 10px;
}

.section.header .menusvg .a {
  transform-origin: center;
  opacity: 1;
  transition: all .25s;
}


.section.header .menu.visible .menusvg .a {
  transform: rotateZ(0deg);
  transform-origin: center;
}
.section.header .menu.visible:hover .menusvg .a {
  opacity: 0;
  transform: translateY(-13.75px);
}

.section.header .menu.visible:hover .menusvg .a:nth-child(2) {
  opacity: 0;
  transform: translateY(13.75px);
}

.section.header .menu.visible:hover .menusvg .a:nth-child(3) {
  opacity: 1;
  transform: rotateZ(45deg);
}

.section.header .menu.visible:hover .menusvg .a:nth-child(4) {
  opacity: 1;
  transform: rotateZ(-45deg);
}


.section.header .menu.visible {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 25px 0px;
  width: 50px;
  height: 50px;
  border-radius: 2px;
  background-color: #0ba39c;
  z-index: 2;
  box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, .25);
  transition: background-color .5s;
  cursor: pointer;
}

.section.header .menu.visible:hover {
  background-color: #1fc3bc;
}

.section.header .menu.visible:hover .navbar-container {
  height: fit-content;
  padding-top: 10px;
}
.section.header .menu.visible:hover .navbar {
  transform: translateY(0px);
}

.section.header .menu.visible .navbar-container {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  min-width: fit-content;
  height: 0px;
  margin: 0;
  transform: translateY(50px);
  overflow-y: hidden;
}

.section.header .menu.visible .navbar {
  box-sizing: border-box;
  grid-template-rows: repeat(5, auto);
  grid-template-columns: 1fr;
  border: .1px solid #fff;
  background-color: rgba(11, 163, 156, .5);
  backdrop-filter: blur(5px);
  width: auto;
  height: fit-content;
  margin: 0;
  transform: translateY(-100%);
  transition: all .5s;
}

.section.header .menu.visible .navbar a:nth-child(1) {
  background-color: #252525;
  border: 0.1px solid #fff;
}

.section.header .menu.visible .navbar a {
  box-sizing: border-box;
  color: #fff;
  font-weight: 400;
  width: 200px;
  padding: 15px 10px;
  border: 0px 0px 0.1px 0px solid #fff;
  background-color: unset;
  transition: all .5s;
}
.section.header .menu.visible .navbar a:hover {
  background-color: #252525;
  border: 0.1px solid #fff;
  color: #1fc3bc;
}
.section.splash {
  position: relative;
  width: 100%;
  height: 370px;
  /* background-color: burlywood; */
  display: flex;
  align-items: center;
}

.section.splash .backdrop {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  filter: grayscale(100%);
  background-image: url('https://images.pexels.com/photos/903039/pexels-photo-903039.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  z-index: -1;
  background-size: cover;
  background-position: center;
}

.section.splash .text-container {
  position: relative;
  width: 490px;
  left: 50%;
  line-height: 1;
}

.section.splash h2 {
  display: inline-block;
  margin: 0 0 18px 0;
  width: fit-content;
  height: fit-content;
  font-size: 20px;
  grid-column: 2;
  font-family: 'Poller One', Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: #000;
  background-color: #fff;
  padding: 23px 27px 20px;
}
.section.splash p {
  display: inline-block;
  margin: 7px 0;
  width: fit-content;
  height: fit-content;
  font-size: 20px;
  grid-column: 2;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  padding: 12px 27px;
  background-color: #252525;
}

.section.splash .button {
  display: block;
  width: fit-content;
  height: fit-content;
  font-size: 16px;
  margin-top: 15px;
  padding: 26px 27px 22px;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  background-color: #0ba39c;
  cursor: pointer;
}

.section.splash .button:hover {
  background-color: #1fc3bc;
}

.section.gallery {
  width: auto;
  padding-top: 40px;
  padding-bottom: 30px;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section.gallery .tile {
  width: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 10px 20px;
}

.section.gallery .tile .image {
  min-width: 300px;
  min-height: 240px;
  box-sizing: border-box;
  border: 2px solid #252525;
  filter: opacity(0.85);
  transition: filter 0.5s;
  cursor: pointer;
  background-size: cover;
}

.section.gallery .tile .image:hover {
  filter: opacity(1);
}

.section.gallery .tile:nth-child(1) .image {
  background-image: url('https://freewebsitetemplates.com/preview/mustacheenthusiast/images/the-father.jpg');
}
.section.gallery .tile:nth-child(2) .image {
  background-image: url('https://freewebsitetemplates.com/preview/mustacheenthusiast/images/the-actor.jpg');
}
.section.gallery .tile:nth-child(3) .image {
  background-image: url('https://freewebsitetemplates.com/preview/mustacheenthusiast/images/the-nerd.jpg');
}

.section.gallery .tile span {
  width: 100%;
  display: block;
  font-size: 20px;
  font-family: 'Poller One', Arial, Helvetica, sans-serif;
  font-weight: normal;
  line-height: 1;
  padding: 33px 0 0;
}

footer {
  display: flex;
  justify-content: space-between;
  background-color: #252525;
  width: 100%;
  padding: 36px 0 42px;
  margin-bottom: 50px;
}

footer span {
  display: block;
  margin-left: 10px;
  line-height: 44px;
  padding: 0;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

footer .social-media-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  align-items: center;
  width: fit-content;
  height: auto;
  margin-right: 10px;
}

.social-media {
  background-image: url('https://freewebsitetemplates.com/preview/mustacheenthusiast/images/icons.jpg');
  width: 44px;
  height: 44px;
  cursor: pointer;
}

.social-media:nth-child(1):hover {
  background-position: -44px 0;
}

.social-media:nth-child(2) {
  background-position: 0 -44px;
}

.social-media:nth-child(2):hover {
  background-position: -44px -44px;
}

.social-media:nth-child(3) {
  background-position: 0 -88px;
}

.social-media:nth-child(3):hover {
  background-position: -44px -88px;
}

.social-media:nth-child(4) {
  background-position: 0 -132px;
}

.social-media:nth-child(4):hover {
  background-position: -44px -132px;
}

@media (max-width: 1000px) {
  .section.splash {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .section.splash .backdrop {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: 'FlipH';
  }

  .section.splash .text-container {
    position: static;
    float: right;
    margin-left: 15px;
    width: 490px;
    line-height: 1;
  }

  .section.splash p {
    text-align: center;
  }

  .section.gallery {
    width: 100%;
    overflow-x: scroll;
  }

  .section.gallery::-webkit-scrollbar {
    display: none;
  }
}
@media (max-width: 480px) {
  .section.splash {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .section.splash .text-container {
    position: relative;
    width: auto;
    line-height: 1;
    left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 0;
    text-align: center;
  }

  .section.splash .text-container h2 {
    margin: 50px 0 10px;
    padding: 8px 5px;
  }
  .section.splash .text-container p {
    width: 100%;
    padding: 8px 5px;
    font-size: 14px;
  }
  .section.splash .text-container .button {
    padding: 14px 14px 14px;
  }

  .section.gallery {
    flex-direction: column;
    overflow: hidden;
  }

  .section.gallery .tile {
    width: 100%;
  }

  .section.gallery .tile .image {
    width: 95%;
    padding-top: 80%;
  }

  .section.gallery .tile span {
    padding-top: 20px;
  }

  footer.home {
    flex-direction: column;
    align-items: center;
    padding: 10px 0 25px;
  }

  footer span {
    margin: 0;
  }

  footer .social-media-container {
    margin: 0;
  }
}
